/*
to add .css file: 
    GoGoFood > right click > new > other > CSS file
*/
@charset "ISO-8859-1";
 
body {
	background-color: #FFCE00;
	
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
    border-bottom: 6px solid #D10000;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: black;
}


ul.topnav li a.active {
	background-color: #4CAF50;
}

ul.topnav li.right {
	float: right;
	background-color: #4a4f55;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}

a:link {
	text-decoration: none;
	color: whitesmoke;
}

a:visited {
	text-decoration: none;
	color: whitesmoke;
}

.buttons {
	background-color: #8a8a8d;
	color: whitesmoke;
	align-items: center;
	border-radius: 4px;
	width:300px;
	margin: 75px; /*top right bottom left*/
	border: 1px solid black; 
	padding: 20px;
	text-align: center;
	display: inline-block;
	font-size: 18px;
	cursor: pointer;
}

.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
	background-color: #efefef;
	color: #AFAFAF !important;
	text-align: center; /
	line-height: 20px;
	*/
}











.card-object {
  display: grid;
  width: 450px;
  grid-template: "header header"
                  "aside  main"
                 "foot  foot";
  font-family: courier;
  font-size: 24px;
  line-height: 40px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
}

.card-object header {
  grid-column: header;
  height: 40px;
  background-image: url(https://image.ibb.co/b49eUb/dechirure.png);
  background-repeat: repeat;
}

.card-object aside {
  grid-area: aside;
  width: 40px;
  background-image: url(https://image.ibb.co/fpgtpb/trou.png);
  background-repeat: repeat;
}

.card-object main {
  grid-area: main;
  background-color: white;
}

.card-object main .message{
    background-image: url(https://image.ibb.co/iA4Dpb/line.png);
  background-repeat: repeat;
  background-position: 0 -10px;
  margin: 20px 20px 0 20px;
}

.card-object footer {
  grid-column: foot;
  text-align: right;
  background-color: white;
  padding: 5px 20px 20px 0;
  border-radius: 0 0 5px 5px;
}

.author::before{
  content: "- ";
}

.rotate{
  animation: rotate 4s infinite ease-in-out;
}

.floating{
  animation: float 6s infinite ease-in-out;
}

@keyframes rotate{
  0% {
  transform: perspective(1000px) rotateY(4deg);
  }
  50%{
  transform: perspective(1000px) rotateX(-5deg);
  }
  100% {
  transform: perspective(1000px) rotateY(4deg);
  }
}

@keyframes float{
  0% {
  transform: perspective(1000px) translateY(0px) rotateX(5deg);
  }
  50%{
  transform: perspective(1000px) translateY(10px) rotateX(-5deg);
  }
  100% {
  transform: perspective(1000px) translateY(0px) rotateX(5deg);
  }
}

.forget{
  opacity: 0.2;
  animation: disappear 5s infinite ease-in-out;
}

@keyframes disappear{
  0%{
    opacity: 0.6;
  }
  50%{
    opacity: 0.1;
  }
  100%{
    opacity: 0.6;
  }
}

.forgotten{
    opacity: 0.1;
    background-color: black;
}

.close_btn {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #26262f;
 
  display: inline-block;
  padding: 1em;
  font-size: 1.4rem;
  letter-spacing: 0.15em;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 20px;
  top:20px;
}


 